:root {
    --primary-color: #055a00;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Romans", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 180px 1fr 1fr;
    align-items: center;
    max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 180px;
    height: auto;
}

.connect {
    display: flex;
    list-style: none;
}

.connect li {
    flex: 1 1 auto;
}

.connect a {
    padding: 20px;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--secondary-color);
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    border: 1px solid var(--accent2-color);
    /* Using the second unused variable */
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
}

.hero article img {
    float: right;
    width: 125px;
}

section {
    display: flex;
}

figure {
    display: block;
    max-width: 300px;
    align-items: center;
}

figure img {
    width: 250px;
    hight: auto;
}